node_modules/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store

# AWS Amplify
amplify/
.amplifyrc
aws-exports.js

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/config.yml
